[submodule "lib/sproutcore"]
	path = lib/sproutcore
	url = git://github.com/sproutcore/sproutcore20.git
[submodule "client/js/libs/thoth-sc"]
	path = client/js/libs/thoth-sc
	url = git://github.com/mauritslamers/Thoth-SC.git
