[submodule "lib/sproutcore-datastore"]
	path = lib/sproutcore-datastore
	url = git://github.com/sproutcore/sproutcore-datastore.git
[submodule "lib/amber.js"]
	path = lib/amber.js
	url = git://github.com/amberjs/amber.js.git
